body {
  font-family: sans-serif;
  background-color: #623f37;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f1dced;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los encabezados */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo para cada tarea */
.info {
  display: flex;
  flex-direction: column;
}
.buttonCreate{
  display: flex;
  justify-content: center;
}

#tasks div {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
}

.buttonTasks {
  align-items: center;
}
button {
  background-color: #514950;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin: 5px;
}
button:hover {
  background-color: #ddd;
  color: #000;
  font-size: 1.1em;
  border: 1px solid #ccc;
  cursor: pointer;
}

#createTaskButton {
  height: 50px;
  width: 200px;
  margin: 5px;
  font-size: 1.2em;
}

/* Estilo para los títulos de las tareas */
#tasks h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

/* Estilo para los párrafos */
#tasks p {
  margin: 5px 0;
}

/* FORMULARIO EMERGENTE*/
.popup {
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup input,
.popup textarea {
  margin-bottom: 10px;
  padding: 10px;
}

.popup button {
  padding: 4px;
  margin-top: 10px;
}
